<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lottery.dao.RoleDao">


        <sql id="query_where">
              and   ${sqlCondition}
        </sql>

        <select id="getRoleByPage" parameterType="com.lottery.condition.PageCondition" resultType="com.lottery.pojo.RoleEntity">
                SELECT * FROM(
                SELECT TOP ${recordEnd} ROW_NUMBER() OVER(ORDER BY RoleId ASC) AS ROWID,*  FROM Role
                WHERE  CurState = 1
                <if test="sqlCondition != null and sqlCondition != ''">
                        <include refid="query_where"></include>
                </if>
                ) AS TEMP1
                WHERE ROWID>#{recordStart}
        </select>

        <select id="getTotal" resultType="java.lang.Integer">
                select count(*) from Role
                WHERE  CurState = 1
                        <if test="sqlCondition != null and sqlCondition != ''">
                                <include refid="query_where"></include>
                        </if>
        </select>



        <insert id="addRole" parameterType="com.lottery.pojo.RoleEntity">
                INSERT INTO Role ([RoleName],[CurState],[CreateTime],[UpdateTime]
                ) VALUES (#{roleName},1,getdate(),getdate())
                <selectKey keyProperty="roleId" resultType="int" order="AFTER">
                        select @@identity
                </selectKey>
        </insert>

        <update id="updateRole" parameterType="com.lottery.pojo.RoleEntity" statementType="PREPARED">
                update Role
                <set>
                        <if test="roleName != null">RoleName = #{roleName},</if>
                        UpdateTime = getdate()
                </set>
                where RoleId = #{roleId}
        </update>

        <update id="deleteRole" parameterType="com.lottery.pojo.RoleEntity" statementType="PREPARED">
                update Role set
                      CurState =0,
                      UpdateTime = getdate()
                where RoleId = #{roleId}
        </update>

        <select id="roleList" resultType="com.lottery.pojo.RoleEntity">
                SELECT * FROM  Role WHERE CurState=1
        </select>
</mapper>