<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lottery.dao.UserDao">


        <sql id="query_where">
              and   ${sqlCondition}
        </sql>

        <sql id="query_time_where">
                   ${searchTime}
        </sql>

        <select id="getUserByPage" parameterType="com.lottery.condition.PageCondition" resultType="com.lottery.pojo.UsersEntity">
                SELECT * FROM(
                SELECT TOP ${recordEnd} ROW_NUMBER() OVER(ORDER BY u.UserId ASC) AS ROWID,u.*,r.RoleName  FROM Users u
                LEFT JOIN Role r ON u.RoleId = r.RoleId
                <where>
                        <if test="sqlCondition != null and sqlCondition != '' and searchTime == null">
                                <include refid="query_where"></include>
                        </if>
                        <if test="searchTime != null and searchTime != ''">
                                and  u.CreateTime <include refid="query_time_where"></include>
                        </if>
                </where>
                ) AS TEMP1
                WHERE ROWID>#{recordStart}
        </select>

        <select id="getTotal" parameterType="com.lottery.condition.PageCondition" resultType="java.lang.Integer">
                select count(1) from Users u
                LEFT JOIN Role r ON u.RoleId = r.RoleId
                <where>
                        <if test="sqlCondition != null and sqlCondition != '' and searchTime == null">
                                <include refid="query_where"></include>
                        </if>
                        <if test="searchTime != null and searchTime != ''">
                                and  u.CreateTime <include refid="query_time_where"></include>
                        </if>
                </where>
        </select>

        <select id="getUserByNamepwd" parameterType="java.util.Map" resultType="com.lottery.pojo.UsersEntity">
                select top 1 * from Users WHERE LoginName=#{loginName} AND LoginPwd =#{loginPwd} AND CurState=1
        </select>


        <insert id="addUser" parameterType="com.lottery.pojo.UsersEntity">
                INSERT INTO Users ([RoleId],[UserName],[LoginName],[LoginPwd],[CurState],[CreateTime],[UpdateTime]
                ) VALUES (#{roleId},#{userName},#{loginName},#{loginPwd},1,getdate(),getdate())
                <selectKey keyProperty="userId" resultType="int" order="AFTER">
                        select @@identity
                </selectKey>
        </insert>

        <update id="updateUser" parameterType="com.lottery.pojo.UsersEntity" statementType="PREPARED">
                update Users
                <set>
                        <if test="roleId != null">RoleId = #{roleId},</if>
                        <if test="userName != null">UserName = #{userName},</if>
                        <if test="loginName != null">LoginName = #{loginName},</if>
                        <if test="loginPwd != null">LoginPwd = #{loginPwd},</if>
                        UpdateTime = getdate()
                </set>
                where UserId = #{userId}
        </update>

        <update id="updateState" parameterType="com.lottery.pojo.UsersEntity" statementType="PREPARED">
                update Users set
                      CurState =#{curState},
                      UpdateTime = getdate()
                where UserId = #{userId}
        </update>
</mapper>